<div style="text-align: center; padding: 100px; ">
  <div style="font-size: 70px; ">Delta</div>
  <form method="get" action="./search">
    <input type="text" style="padding: 8px; font-size: 24px; width: 400px; " name="q">
    <input type="submit" style="padding: 8px; font-size: 20px; " value="Go!">
  </form>
</div>
